@font-face {
  font-family: 'Archivo Black';
  src: url(assets/fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
  font-family: 'Google Sans';
  src: url(assets/fonts/GoogleSans-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

:root {
  --color: #283a19;
  --color-01: #546b41;
  --color-02: #99AD74;
  --color-03: #DCCCAC;
  --color-04: #FFF8EC;
  --color-05: #FFFFFF;
}